/.idea/
JavaEdu.iml
/out/production/JavaEdu/Hello.class
/out/production/JavaEdu/InkrementacjaDekrementacja.class
/out/production/JavaEdu/Scanner1.class
/out/production/JavaEdu/Zmienne.class
/out/production/JavaEdu/CustomScanner.class
